# possible merge between allcards, scryfall artwork, allprices

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [7]:
%store -r allcards_clean_df
%store -r artwork_cards_clean_df
%store -r allprices_clean_df
%store -r allprintings_clean_df

# id in comune

In [ ]:
#controllo se sono presenti gli id di allcards in artwork
#maskera scryfall id
mask_scry_id = artwork_cards_clean_df.oracle_id.isin(allcards_clean_df.scryfallOracleId)
mask_scry_id.value_counts()
artwork_cards_clean_df[mask_scry_id]
#allora scry e allcards -> oracleid e scryoracleid in comune

In [13]:
#test 1 -> scry allprices
mask_price_id = artwork_cards_clean_df.id.isin(allprices_clean_df.index)
mask_price_id.value_counts()
#artwork_cards_clean_df[mask_price_id]

id
False    25292
Name: count, dtype: int64

In [15]:
#test 2 -> provo a cercare un singolo id
artwork_cards_clean_df[artwork_cards_clean_df.oracle_id == '000031ff-f095-52c5-98a1-35bdb5e18a5b']

Empty DataFrame
Columns: [object, id, oracle_id, multiverse_ids, name, lang, released_at, uri, scryfall_uri, layout, highres_image, image_uris, mana_cost, cmc, type_line, oracle_text, power, toughness, colors, color_identity, legalities, games, reserved, foil, nonfoil, oversized, promo, reprint, variation, set, set_name, set_type, set_uri, set_search_uri, scryfall_set_uri, rulings_uri, prints_search_uri, collector_number, digital, rarity, flavor_text, card_back_id, artist, artist_ids, illustration_id, border_color, frame, full_art, textless, booster, story_spotlight, related_uris, edhrec_rank, card_faces, all_parts, loyalty]
Index: []

[0 rows x 56 columns]

In [18]:
#test 3 -> provo a cercare id di price in all cards, se lo trovo riporto annche la colonna dell id
allcards_clean_df[allcards_clean_df.scryfallOracleId == '000031ff-f095-52c5-98a1-35bdb5e18a5b']

Empty DataFrame
Columns: [colorIdentity, colors, convertedManaCost, foreignData, layout, legalities, manaCost, name, printings, rulings, scryfallOracleId, subtypes, supertypes, text, type, types, uuid, edhrecRank, power, toughness, isReserved, leadershipSkills, loyalty]
Index: []

[0 rows x 23 columns]