In [345]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
%store -r final_df

In [3]:
final_df.columns

Index(['object', 'id', 'oracle_id', 'multiverse_ids', 'name_x', 'lang',
       'released_at', 'uri', 'scryfall_uri', 'layout_x', 'highres_image',
       'image_uris', 'mana_cost', 'cmc', 'type_line', 'oracle_text', 'power_x',
       'toughness_x', 'colors_x', 'color_identity', 'legalities_x', 'games',
       'reserved', 'foil', 'nonfoil', 'oversized', 'promo', 'reprint',
       'variation', 'set', 'set_name', 'set_type', 'set_uri', 'set_search_uri',
       'scryfall_set_uri', 'rulings_uri', 'prints_search_uri',
       'collector_number', 'digital', 'rarity', 'flavor_text', 'card_back_id',
       'artist', 'artist_ids', 'illustration_id', 'border_color', 'frame',
       'full_art', 'textless', 'booster', 'story_spotlight', 'related_uris',
       'edhrec_rank', 'card_faces', 'all_parts', 'loyalty_x', 'colorIdentity',
       'colors_y', 'convertedManaCost', 'foreignData', 'layout_y',
       'legalities_y', 'manaCost', 'name_y', 'printings', 'rulings',
       'scryfallOracleId', 'subtypes', 'supertypes', 'text', 'type', 'types',
       'uuid', 'edhrecRank', 'power_y', 'toughness_y', 'isReserved',
       'leadershipSkills', 'loyalty_y', 'prices'],
      dtype='object')

# Value null and column

In [348]:
final_df_bu = final_df

In [349]:
final_df.columns

Index(['object', 'id', 'oracle_id', 'multiverse_ids', 'name_x', 'lang',
       'released_at', 'uri', 'scryfall_uri', 'layout_x', 'highres_image',
       'image_uris', 'mana_cost', 'cmc', 'type_line', 'oracle_text', 'power_x',
       'toughness_x', 'colors_x', 'color_identity', 'legalities_x', 'games',
       'reserved', 'foil', 'nonfoil', 'oversized', 'promo', 'reprint',
       'variation', 'set', 'set_name', 'set_type', 'set_uri', 'set_search_uri',
       'scryfall_set_uri', 'rulings_uri', 'prints_search_uri',
       'collector_number', 'digital', 'rarity', 'flavor_text', 'card_back_id',
       'artist', 'artist_ids', 'illustration_id', 'border_color', 'frame',
       'full_art', 'textless', 'booster', 'story_spotlight', 'related_uris',
       'edhrec_rank', 'card_faces', 'all_parts', 'loyalty_x', 'colorIdentity',
       'colors_y', 'convertedManaCost', 'foreignData', 'layout_y',
       'legalities_y', 'manaCost', 'name_y', 'printings', 'rulings',
       'scryfallOracleId', 'subtypes', 'supertypes', 'text', 'type', 'types',
       'uuid', 'edhrecRank', 'power_y', 'toughness_y', 'isReserved',
       'leadershipSkills', 'loyalty_y', 'prices'],
      dtype='object')

In [350]:
prova = final_df[final_df.name_x != final_df.name_y] #ci sono delle righe che hanno nomi diversi
#prova.loc[:'name_x':'name_y']
prova[['name_x','name_y']]  #ok il problema è con le carte con doppia faccia; LE RIMUOVO TUTTE (685)

                                name_x                          name_y
13     Nightmare Moon // Princess Luna                  Nightmare Moon
14     Nightmare Moon // Princess Luna                   Princess Luna
58        Oakhame Ranger // Bring Back                      Bring Back
59        Oakhame Ranger // Bring Back                      Bring Back
60        Oakhame Ranger // Bring Back                      Bring Back
...                                ...                             ...
20712                  Spite // Malice                          Malice
20713                  Spite // Malice                           Spite
20714                 Stand // Deliver                         Deliver
20715                 Stand // Deliver                           Stand
22238       B.F.M. (Big Furry Monster)  B.F.M. (Big Furry Monster) (b)

[685 rows x 2 columns]

droppo le righe che hanno name_x e name_y diversi

In [351]:
final_df.drop(final_df[final_df.name_x != final_df.name_y].index, inplace=True)

testo e tolgo le colonne con _y

In [352]:
final_df.columns

Index(['object', 'id', 'oracle_id', 'multiverse_ids', 'name_x', 'lang',
       'released_at', 'uri', 'scryfall_uri', 'layout_x', 'highres_image',
       'image_uris', 'mana_cost', 'cmc', 'type_line', 'oracle_text', 'power_x',
       'toughness_x', 'colors_x', 'color_identity', 'legalities_x', 'games',
       'reserved', 'foil', 'nonfoil', 'oversized', 'promo', 'reprint',
       'variation', 'set', 'set_name', 'set_type', 'set_uri', 'set_search_uri',
       'scryfall_set_uri', 'rulings_uri', 'prints_search_uri',
       'collector_number', 'digital', 'rarity', 'flavor_text', 'card_back_id',
       'artist', 'artist_ids', 'illustration_id', 'border_color', 'frame',
       'full_art', 'textless', 'booster', 'story_spotlight', 'related_uris',
       'edhrec_rank', 'card_faces', 'all_parts', 'loyalty_x', 'colorIdentity',
       'colors_y', 'convertedManaCost', 'foreignData', 'layout_y',
       'legalities_y', 'manaCost', 'name_y', 'printings', 'rulings',
       'scryfallOracleId', 'subtypes', 'supertypes', 'text', 'type', 'types',
       'uuid', 'edhrecRank', 'power_y', 'toughness_y', 'isReserved',
       'leadershipSkills', 'loyalty_y', 'prices'],
      dtype='object')

In [353]:
final_df[final_df.name_x != final_df.name_y]

Empty DataFrame
Columns: [object, id, oracle_id, multiverse_ids, name_x, lang, released_at, uri, scryfall_uri, layout_x, highres_image, image_uris, mana_cost, cmc, type_line, oracle_text, power_x, toughness_x, colors_x, color_identity, legalities_x, games, reserved, foil, nonfoil, oversized, promo, reprint, variation, set, set_name, set_type, set_uri, set_search_uri, scryfall_set_uri, rulings_uri, prints_search_uri, collector_number, digital, rarity, flavor_text, card_back_id, artist, artist_ids, illustration_id, border_color, frame, full_art, textless, booster, story_spotlight, related_uris, edhrec_rank, card_faces, all_parts, loyalty_x, colorIdentity, colors_y, convertedManaCost, foreignData, layout_y, legalities_y, manaCost, name_y, printings, rulings, scryfallOracleId, subtypes, supertypes, text, type, types, uuid, edhrecRank, power_y, toughness_y, isReserved, leadershipSkills, loyalty_y, prices]
Index: []

[0 rows x 80 columns]

In [354]:
final_df.drop('name_y',axis=1,inplace=True)

In [355]:
final_df[final_df.layout_x != final_df.layout_y]

Empty DataFrame
Columns: [object, id, oracle_id, multiverse_ids, name_x, lang, released_at, uri, scryfall_uri, layout_x, highres_image, image_uris, mana_cost, cmc, type_line, oracle_text, power_x, toughness_x, colors_x, color_identity, legalities_x, games, reserved, foil, nonfoil, oversized, promo, reprint, variation, set, set_name, set_type, set_uri, set_search_uri, scryfall_set_uri, rulings_uri, prints_search_uri, collector_number, digital, rarity, flavor_text, card_back_id, artist, artist_ids, illustration_id, border_color, frame, full_art, textless, booster, story_spotlight, related_uris, edhrec_rank, card_faces, all_parts, loyalty_x, colorIdentity, colors_y, convertedManaCost, foreignData, layout_y, legalities_y, manaCost, printings, rulings, scryfallOracleId, subtypes, supertypes, text, type, types, uuid, edhrecRank, power_y, toughness_y, isReserved, leadershipSkills, loyalty_y, prices]
Index: []

[0 rows x 79 columns]

In [356]:
final_df.drop('layout_y',axis=1,inplace=True)

In [357]:
prova = final_df[final_df.power_x != final_df.power_y] #OK SONO SOLO NAN
prova[['power_x','power_y']]

      power_x power_y
5         NaN     NaN
6         NaN     NaN
7         NaN     NaN
8         NaN     NaN
9         NaN     NaN
...       ...     ...
24978     NaN     NaN
24979     NaN     NaN
24980     NaN     NaN
24981     NaN     NaN
24982     NaN     NaN

[12577 rows x 2 columns]

In [358]:
final_df.drop('power_y',axis=1,inplace=True)

In [359]:
prova = final_df[final_df.toughness_x != final_df.toughness_y] #OK SONO SOLO NAN
prova[['toughness_x','toughness_y']]

      toughness_x toughness_y
5             NaN         NaN
6             NaN         NaN
7             NaN         NaN
8             NaN         NaN
9             NaN         NaN
...           ...         ...
24978         NaN         NaN
24979         NaN         NaN
24980         NaN         NaN
24981         NaN         NaN
24982         NaN         NaN

[12577 rows x 2 columns]

In [360]:
final_df.drop('toughness_y',axis=1,inplace=True)

In [361]:
final_df[final_df.colors_x != final_df.colors_y]

Empty DataFrame
Columns: [object, id, oracle_id, multiverse_ids, name_x, lang, released_at, uri, scryfall_uri, layout_x, highres_image, image_uris, mana_cost, cmc, type_line, oracle_text, power_x, toughness_x, colors_x, color_identity, legalities_x, games, reserved, foil, nonfoil, oversized, promo, reprint, variation, set, set_name, set_type, set_uri, set_search_uri, scryfall_set_uri, rulings_uri, prints_search_uri, collector_number, digital, rarity, flavor_text, card_back_id, artist, artist_ids, illustration_id, border_color, frame, full_art, textless, booster, story_spotlight, related_uris, edhrec_rank, card_faces, all_parts, loyalty_x, colorIdentity, colors_y, convertedManaCost, foreignData, legalities_y, manaCost, printings, rulings, scryfallOracleId, subtypes, supertypes, text, type, types, uuid, edhrecRank, isReserved, leadershipSkills, loyalty_y, prices]
Index: []

[0 rows x 76 columns]

In [362]:
final_df.drop('colors_y',axis=1,inplace=True)

In [363]:
prova = final_df[final_df.legalities_x != final_df.legalities_y] #praticamente tutti, perchè??
prova[['legalities_x','legalities_y']]
#ok, sono strutturati in maniera diversa, tengo solo legalities_x

,legalities_x,legalities_y
0,"{'standard': 'not_legal', 'future': 'not_legal...",{}
1,"{'standard': 'not_legal', 'future': 'not_legal...",{}
2,"{'standard': 'not_legal', 'future': 'not_legal...",{}
3,"{'standard': 'not_legal', 'future': 'not_legal...",{}
4,"{'standard': 'not_legal', 'future': 'not_legal...",{}
...,...,...
24979,"{'standard': 'not_legal', 'future': 'not_legal...","{'commander': 'Legal', 'duel': 'Legal', 'legac..."
24980,"{'standard': 'not_legal', 'future': 'not_legal...","{'commander': 'Legal', 'duel': 'Legal', 'legac..."
24981,"{'standard': 'not_legal', 'future': 'not_legal...","{'commander': 'Legal', 'duel': 'Legal', 'legac..."
24982,"{'standard': 'not_legal', 'future': 'not_legal...","{'commander': 'Legal', 'duel': 'Legal', 'legac..."
24983,"{'standard': 'not_legal', 'future': 'not_legal...","{'commander': 'Legal', 'duel': 'Legal', 'legac..."

In [364]:
final_df[['legalities_x','legalities_y']].iloc[30]

legalities_x    {'standard': 'legal', 'future': 'legal', 'hist...
legalities_y    {'brawl': 'Legal', 'commander': 'Legal', 'duel...
Name: 32, dtype: object

In [365]:
final_df.drop('legalities_y',axis=1,inplace=True)

In [366]:
prova = final_df[final_df.loyalty_x != final_df.loyalty_y] #sono quasi tutti diversi
prova[['loyalty_x','loyalty_y']] #ok sono tutti i Nan

      loyalty_x loyalty_y
0           NaN       NaN
1           NaN       NaN
2           NaN       NaN
3           NaN       NaN
4           NaN       NaN
...         ...       ...
24979       NaN       NaN
24980       NaN       NaN
24981       NaN       NaN
24982       NaN       NaN
24983       NaN       NaN

[23983 rows x 2 columns]

In [367]:
final_df.drop('loyalty_y',axis = 1, inplace = True)

In [368]:
final_df.isna().sum()[40:]

flavor_text              0
card_back_id             0
artist                   0
artist_ids               1
illustration_id          0
border_color             0
frame                    0
full_art                 0
textless                 0
booster                  0
story_spotlight          0
related_uris             0
edhrec_rank              0
card_faces           24299
all_parts                0
loyalty_x            23983
colorIdentity            0
convertedManaCost        0
foreignData              0
manaCost              2415
printings                0
rulings                  0
scryfallOracleId         0
subtypes                 0
supertypes               0
text                     0
type                     0
types                    0
uuid                     0
edhrecRank               0
isReserved               0
leadershipSkills         0
prices                   0
dtype: int64

# tolgo le colonne doppie es: edhrec_rank e edhrecRank

In [369]:
#mana_cost con manaCost
final_df[['mana_cost','manaCost']] #ok, sono scritti nello stesso modo (str)
#cerco se ce ne sono di diversi
final_df[final_df.mana_cost != final_df.manaCost] #è uguale al numero dei valori nulli
#testo
prova = final_df[final_df.mana_cost != final_df.manaCost]
prova[['manaCost','mana_cost']] #ok sono solo Nan

      manaCost mana_cost
9          NaN
10         NaN
21         NaN
22         NaN
23         NaN
...        ...       ...
24550      NaN
24840      NaN
24841      NaN
24842      NaN
24843      NaN

[2415 rows x 2 columns]

In [370]:
final_df.drop('manaCost',axis=1,inplace=True)

In [371]:
#cmc con convertedManaCost
final_df[final_df.cmc != final_df.convertedManaCost]

Empty DataFrame
Columns: [object, id, oracle_id, multiverse_ids, name_x, lang, released_at, uri, scryfall_uri, layout_x, highres_image, image_uris, mana_cost, cmc, type_line, oracle_text, power_x, toughness_x, colors_x, color_identity, legalities_x, games, reserved, foil, nonfoil, oversized, promo, reprint, variation, set, set_name, set_type, set_uri, set_search_uri, scryfall_set_uri, rulings_uri, prints_search_uri, collector_number, digital, rarity, flavor_text, card_back_id, artist, artist_ids, illustration_id, border_color, frame, full_art, textless, booster, story_spotlight, related_uris, edhrec_rank, card_faces, all_parts, loyalty_x, colorIdentity, convertedManaCost, foreignData, printings, rulings, scryfallOracleId, subtypes, supertypes, text, type, types, uuid, edhrecRank, isReserved, leadershipSkills, prices]
Index: []

[0 rows x 72 columns]

In [372]:
final_df.drop('convertedManaCost',axis=1,inplace=True)

In [373]:
#oracle_id con scryfallOracleId , quello utilizzato per merge scry e allcards
final_df[final_df.oracle_id != final_df.scryfallOracleId]

Empty DataFrame
Columns: [object, id, oracle_id, multiverse_ids, name_x, lang, released_at, uri, scryfall_uri, layout_x, highres_image, image_uris, mana_cost, cmc, type_line, oracle_text, power_x, toughness_x, colors_x, color_identity, legalities_x, games, reserved, foil, nonfoil, oversized, promo, reprint, variation, set, set_name, set_type, set_uri, set_search_uri, scryfall_set_uri, rulings_uri, prints_search_uri, collector_number, digital, rarity, flavor_text, card_back_id, artist, artist_ids, illustration_id, border_color, frame, full_art, textless, booster, story_spotlight, related_uris, edhrec_rank, card_faces, all_parts, loyalty_x, colorIdentity, foreignData, printings, rulings, scryfallOracleId, subtypes, supertypes, text, type, types, uuid, edhrecRank, isReserved, leadershipSkills, prices]
Index: []

[0 rows x 71 columns]

In [374]:
final_df.drop('scryfallOracleId',axis=1,inplace=True)

In [375]:
#text con oracle_text
final_df[final_df.text != final_df.oracle_text] #ok alcuni sono diversi, capiamo
prova = final_df[final_df.text != final_df.oracle_text]
prova[['text', 'oracle_text']] #ok sono 'uguali' cambia la stringa per i plainswalker (in text ce [+loyalty] e non solo +loyalty), e i valori no text con Nan
#tengo text

,text,oracle_text
49,[+1]: Put two +1/+1 counters on up to one targ...,+1: Put two +1/+1 counters on up to one target...
56,[+1]: Up to one target creature gets +3/+0 and...,+1: Up to one target creature gets +3/+0 and g...
180,"[+1]: Draw a card, then discard a card.\n[+1]:...","+1: Draw a card, then discard a card.\n+1: Tar..."
181,"[+1]: Draw a card, then discard a card.\n[+1]:...","+1: Draw a card, then discard a card.\n+1: Tar..."
182,[+2]: Create a Food token. (It's an artifact w...,+2: Create a Food token. (It's an artifact wit...
...,...,...
24771,no text,
24893,no text,
24929,no text,
24930,no text,
24953,no text,

In [376]:
final_df.drop('oracle_text',axis=1,inplace=True)

In [377]:
#type_line con type (in ogni caso tengo types che è type sotto forma fi lista)
final_df[final_df.type_line != final_df.type]

Empty DataFrame
Columns: [object, id, oracle_id, multiverse_ids, name_x, lang, released_at, uri, scryfall_uri, layout_x, highres_image, image_uris, mana_cost, cmc, type_line, power_x, toughness_x, colors_x, color_identity, legalities_x, games, reserved, foil, nonfoil, oversized, promo, reprint, variation, set, set_name, set_type, set_uri, set_search_uri, scryfall_set_uri, rulings_uri, prints_search_uri, collector_number, digital, rarity, flavor_text, card_back_id, artist, artist_ids, illustration_id, border_color, frame, full_art, textless, booster, story_spotlight, related_uris, edhrec_rank, card_faces, all_parts, loyalty_x, colorIdentity, foreignData, printings, rulings, subtypes, supertypes, text, type, types, uuid, edhrecRank, isReserved, leadershipSkills, prices]
Index: []

[0 rows x 69 columns]

In [378]:
final_df.drop('type_line',axis=1,inplace=True)

In [379]:
#edhrec_rank con edhrecRank
final_df[final_df.edhrec_rank != final_df.edhrecRank] #ok, tanti diversi, capiamo
prova = final_df[final_df.edhrec_rank != final_df.edhrecRank]
prova[['edhrec_rank','edhrecRank']] #AIUTO, NON SO QUALE SIA PIù RECENTE, DEVO CHIEDERE!!!!
#DA FINIRE

      edhrec_rank edhrecRank
5         19267.0      19159
6         19267.0      19159
7         19267.0      19159
8         19267.0      19159
9          4474.0       4535
...           ...        ...
24979     13440.0      13595
24980     12617.0      12313
24981     15645.0      16228
24982     12500.0      12255
24983     13755.0      14576

[22243 rows x 2 columns]

#decidere ancora quale droppare, dropperei edhrec_rank

In [380]:
final_df.drop('edhrec_rank',axis=1,inplace=True)

In [381]:
#reserved con isReserved
final_df[final_df.reserved != final_df.isReserved] #ok, sono tanti, capiamo
prova= final_df[final_df.reserved != final_df.isReserved]
prova[['reserved','isReserved']] #ok è solo scritto in maniera diversa
#tendo reserved (bool)

       reserved isReserved
0         False      false
1         False      false
2         False      false
3         False      false
4         False      false
...         ...        ...
24978     False      false
24979     False      false
24980     False      false
24982     False      false
24983     False      false

[23650 rows x 2 columns]

In [382]:
final_df.drop('isReserved',axis=1,inplace=True)

In [383]:
final_df.rulings[final_df.rulings != '']
final_df.rulings #ok

0                                                       []
1                                                       []
2                                                       []
3                                                       []
4                                                       []
                               ...
24979    [{'date': '2005-04-01', 'text': 'The land can ...
24980                                                   []
24981    [{'date': '2004-10-04', 'text': 'Does not allo...
24982                                                   []
24983    [{'date': '2008-10-01', 'text': 'If a creature...
Name: rulings, Length: 24299, dtype: object

In [384]:
final_df.rulings[30]

[{'date': '2019-10-04',
  'text': 'Chulane’s triggered ability resolves before the spell that caused it to trigger. It resolves even if that spell is countered.'},
 {'date': '2019-10-04',
  'text': 'Chulane’s triggered ability doesn’t count as playing a land. It can put a land card onto the battlefield even if you’ve already played your land for the turn, and even if it’s not your turn.'}]

In [385]:
final_df[final_df.rulings.str.len() == 0].rulings

0        []
1        []
2        []
3        []
4        []
         ..
24975    []
24976    []
24977    []
24980    []
24982    []
Name: rulings, Length: 11699, dtype: object

In [386]:
#final_df.rulings[0]
#lista_rule = ['no additional rules']
#final_df.loc[final_df.rulings.str.len() == 0, 'rulings'] = lista_rule #non funziona

In [387]:
#color_identity con colorIdentity
final_df[final_df.color_identity != final_df.colorIdentity]

Empty DataFrame
Columns: [object, id, oracle_id, multiverse_ids, name_x, lang, released_at, uri, scryfall_uri, layout_x, highres_image, image_uris, mana_cost, cmc, power_x, toughness_x, colors_x, color_identity, legalities_x, games, reserved, foil, nonfoil, oversized, promo, reprint, variation, set, set_name, set_type, set_uri, set_search_uri, scryfall_set_uri, rulings_uri, prints_search_uri, collector_number, digital, rarity, flavor_text, card_back_id, artist, artist_ids, illustration_id, border_color, frame, full_art, textless, booster, story_spotlight, related_uris, card_faces, all_parts, loyalty_x, colorIdentity, foreignData, printings, rulings, subtypes, supertypes, text, type, types, uuid, edhrecRank, leadershipSkills, prices]
Index: []

[0 rows x 66 columns]

In [388]:
final_df.drop('colorIdentity',axis=1,inplace=True)

In [389]:
final_df.columns

Index(['object', 'id', 'oracle_id', 'multiverse_ids', 'name_x', 'lang',
       'released_at', 'uri', 'scryfall_uri', 'layout_x', 'highres_image',
       'image_uris', 'mana_cost', 'cmc', 'power_x', 'toughness_x', 'colors_x',
       'color_identity', 'legalities_x', 'games', 'reserved', 'foil',
       'nonfoil', 'oversized', 'promo', 'reprint', 'variation', 'set',
       'set_name', 'set_type', 'set_uri', 'set_search_uri', 'scryfall_set_uri',
       'rulings_uri', 'prints_search_uri', 'collector_number', 'digital',
       'rarity', 'flavor_text', 'card_back_id', 'artist', 'artist_ids',
       'illustration_id', 'border_color', 'frame', 'full_art', 'textless',
       'booster', 'story_spotlight', 'related_uris', 'card_faces', 'all_parts',
       'loyalty_x', 'foreignData', 'printings', 'rulings', 'subtypes',
       'supertypes', 'text', 'type', 'types', 'uuid', 'edhrecRank',
       'leadershipSkills', 'prices'],
      dtype='object')

In [390]:
#printing e set sono simili, printing contiene dove la carta è stata anche ristampata

In [391]:
#cardfaces lo elimino
final_df.drop('card_faces',axis=1,inplace=True)

modifico le colonne, tolgo la _x

In [392]:
final_df.columns

Index(['object', 'id', 'oracle_id', 'multiverse_ids', 'name_x', 'lang',
       'released_at', 'uri', 'scryfall_uri', 'layout_x', 'highres_image',
       'image_uris', 'mana_cost', 'cmc', 'power_x', 'toughness_x', 'colors_x',
       'color_identity', 'legalities_x', 'games', 'reserved', 'foil',
       'nonfoil', 'oversized', 'promo', 'reprint', 'variation', 'set',
       'set_name', 'set_type', 'set_uri', 'set_search_uri', 'scryfall_set_uri',
       'rulings_uri', 'prints_search_uri', 'collector_number', 'digital',
       'rarity', 'flavor_text', 'card_back_id', 'artist', 'artist_ids',
       'illustration_id', 'border_color', 'frame', 'full_art', 'textless',
       'booster', 'story_spotlight', 'related_uris', 'all_parts', 'loyalty_x',
       'foreignData', 'printings', 'rulings', 'subtypes', 'supertypes', 'text',
       'type', 'types', 'uuid', 'edhrecRank', 'leadershipSkills', 'prices'],
      dtype='object')

In [393]:
colonne_originali = final_df.columns
#test
colonne_nuove = list(map(lambda x : x[:len(x)-2] if x[len(x)-2:] =='_x' else x , colonne_originali))
colonne_nuove
#tes = colonne_originali[4]
#tes[len(tes)-2:]
#APPLICARE I NOMI ALLE COLONNE PERFETTO!!!!!!!!!!!!!!

['object',
 'id',
 'oracle_id',
 'multiverse_ids',
 'name',
 'lang',
 'released_at',
 'uri',
 'scryfall_uri',
 'layout',
 'highres_image',
 'image_uris',
 'mana_cost',
 'cmc',
 'power',
 'toughness',
 'colors',
 'color_identity',
 'legalities',
 'games',
 'reserved',
 'foil',
 'nonfoil',
 'oversized',
 'promo',
 'reprint',
 'variation',
 'set',
 'set_name',
 'set_type',
 'set_uri',
 'set_search_uri',
 'scryfall_set_uri',
 'rulings_uri',
 'prints_search_uri',
 'collector_number',
 'digital',
 'rarity',
 'flavor_text',
 'card_back_id',
 'artist',
 'artist_ids',
 'illustration_id',
 'border_color',
 'frame',
 'full_art',
 'textless',
 'booster',
 'story_spotlight',
 'related_uris',
 'all_parts',
 'loyalty',
 'foreignData',
 'printings',
 'rulings',
 'subtypes',
 'supertypes',
 'text',
 'type',
 'types',
 'uuid',
 'edhrecRank',
 'leadershipSkills',
 'prices']

In [394]:
final_df.columns

Index(['object', 'id', 'oracle_id', 'multiverse_ids', 'name_x', 'lang',
       'released_at', 'uri', 'scryfall_uri', 'layout_x', 'highres_image',
       'image_uris', 'mana_cost', 'cmc', 'power_x', 'toughness_x', 'colors_x',
       'color_identity', 'legalities_x', 'games', 'reserved', 'foil',
       'nonfoil', 'oversized', 'promo', 'reprint', 'variation', 'set',
       'set_name', 'set_type', 'set_uri', 'set_search_uri', 'scryfall_set_uri',
       'rulings_uri', 'prints_search_uri', 'collector_number', 'digital',
       'rarity', 'flavor_text', 'card_back_id', 'artist', 'artist_ids',
       'illustration_id', 'border_color', 'frame', 'full_art', 'textless',
       'booster', 'story_spotlight', 'related_uris', 'all_parts', 'loyalty_x',
       'foreignData', 'printings', 'rulings', 'subtypes', 'supertypes', 'text',
       'type', 'types', 'uuid', 'edhrecRank', 'leadershipSkills', 'prices'],
      dtype='object')

In [395]:
final_df.columns = colonne_nuove

In [396]:
#attenzione forse ce un problema con gli indici capire come si comporta con iloc
final_df.iloc[15] #OK INDEX è DIVERSO DALLA POSIZIONE EFFETTIVA, DIREI CHE LI AGGIORno
#no elimino la colonna index
#final_df.drop('index',axis=1,inplace=True) #ok non è una colonna, semplicemente gli index sono sfasati e se voglio usre iloc mi crea probelmi

object                                                           card
id                               a47357be-9e4b-4581-94f5-0574754e2977
oracle_id                        78124cd1-2658-43f3-a339-0755d84154d2
multiverse_ids                                                     []
name                                                Stonecoil Serpent
                                          ...
types                                            [Artifact, Creature]
uuid                             b2f57541-313b-511c-8403-4792e335c042
edhrecRank                                                       6925
leadershipSkills                                             unusable
prices              {'mtgo': {}, 'mtgoFoil': {}, 'paper': {}, 'pap...
Name: 17, Length: 64, dtype: object

In [397]:
#final_clean_df = final_df

In [398]:
final_df.index[:20] #salto tra 12 e 15

Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 15, 16, 17, 18, 19, 20, 21], dtype='int64')

In [399]:
#test_a = final_df[0:20]
#for indice,id in test_a.id.items():
#    print(f'indice:{indice}, id:{id}')
#    #quidi se faccio iloc[index] mi ritorna un valore diverso da quello che voglio
#    print(f'test_a.iloc[{indice}] = {test_a.id.iloc[indice]}') 

#vedere indice 15 e iloc[15]

In [400]:
#resetto gli indici
#final_clean_df.columns
final_df.reset_index(drop=True,inplace=True)

In [401]:
test_a = final_df[0:20]
for indice,id in test_a.id.items():
    print(f'indice:{indice}, id:{id}')
    #quidi se faccio iloc[index] mi ritorna un valore diverso da quello che voglio
    print(f'test_a.iloc[{indice}] = {test_a.id.iloc[indice]}')

indice:0, id:dbcdbf7a-9294-47ad-9f93-c16b78c7463a
test_a.iloc[0] = dbcdbf7a-9294-47ad-9f93-c16b78c7463a
indice:1, id:acb3ce9b-ee4f-410a-8db3-e87aeb0a4444
test_a.iloc[1] = acb3ce9b-ee4f-410a-8db3-e87aeb0a4444
indice:2, id:17b2ed72-d0f0-4d8d-bb5e-dce08d157466
test_a.iloc[2] = 17b2ed72-d0f0-4d8d-bb5e-dce08d157466
indice:3, id:0faa9eea-fbf1-41f7-9def-1ec3d5134a53
test_a.iloc[3] = 0faa9eea-fbf1-41f7-9def-1ec3d5134a53
indice:4, id:ecbeac44-9392-4522-8ff5-87079386bd0a
test_a.iloc[4] = ecbeac44-9392-4522-8ff5-87079386bd0a
indice:5, id:2b8285b7-bd88-4a6c-bd2e-9798a1c661f8
test_a.iloc[5] = 2b8285b7-bd88-4a6c-bd2e-9798a1c661f8
indice:6, id:1f5a1578-d5fe-4b31-bb71-3253be8775a1
test_a.iloc[6] = 1f5a1578-d5fe-4b31-bb71-3253be8775a1
indice:7, id:5f6927e1-c580-483a-8e2a-6e2deb74800e
test_a.iloc[7] = 5f6927e1-c580-483a-8e2a-6e2deb74800e
indice:8, id:92bcd1ce-19b1-4d78-8b09-95242ca08d76
test_a.iloc[8] = 92bcd1ce-19b1-4d78-8b09-95242ca08d76
indice:9, id:4c19926a-7792-4e0f-8418-a44f0cf5eeea
test_a.iloc[9] = 4c19926a-7792-4e0f-8418-a44f0cf5eeea
indice:10, id:a7a8b6b8-b95f-4014-b17a-a6d44d965995
test_a.iloc[10] = a7a8b6b8-b95f-4014-b17a-a6d44d965995
indice:11, id:9ad30de4-8299-4252-99f9-866719ec047d
test_a.iloc[11] = 9ad30de4-8299-4252-99f9-866719ec047d
indice:12, id:9a4e07b3-b095-4335-b636-2d1c34c7db9b
test_a.iloc[12] = 9a4e07b3-b095-4335-b636-2d1c34c7db9b
indice:13, id:1e3dee73-b220-4da9-82ef-e3f551dccb17
test_a.iloc[13] = 1e3dee73-b220-4da9-82ef-e3f551dccb17
indice:14, id:ee235810-078e-4208-91e2-b559c277eb86
test_a.iloc[14] = ee235810-078e-4208-91e2-b559c277eb86
indice:15, id:a47357be-9e4b-4581-94f5-0574754e2977
test_a.iloc[15] = a47357be-9e4b-4581-94f5-0574754e2977
indice:16, id:d2804de2-5b13-493c-87ac-e59b3bb569a4
test_a.iloc[16] = d2804de2-5b13-493c-87ac-e59b3bb569a4
indice:17, id:5e66e70e-354e-4c3c-9d5d-90f0bf1b857d
test_a.iloc[17] = 5e66e70e-354e-4c3c-9d5d-90f0bf1b857d
indice:18, id:35538cb0-813a-46a1-9c2b-0a1eda866ed0
test_a.iloc[18] = 35538cb0-813a-46a1-9c2b-0a1eda866ed0
indice:19, id:ec1f1041-f667-4b73-b1f2-e5bcae84095e
test_a.iloc[19] = ec1f1041-f667-4b73-b1f2-e5bcae84095e

In [402]:
#type(final_clean_df.power.iloc[30])
#ok power è una stringa, per i nan metto, no power!!!
#FINIRE

In [403]:
#è  E NORMALE CHE ALCUNE CARTE COME LE TERRE NON ABBBIANO (CI SONO ALTRI TIPI DI CARTE)
#MANA COST OR COLOR

In [404]:
#PER SEMPLICITà TRASFORMARE MULTIVERSE_IDS NON COM UNA LISTA MA COME STRINGA

replace empty value

In [405]:
# power
type(final_df.power.iloc[30])
#ok power è una stringa, per i nan metto, no power!!!
#FINIRE

str

In [406]:
final_df.loc[final_df.power.isna() == True, 'power'] = 'no power'

In [407]:
final_df.power

0               6
1               5
2               5
3               5
4               5
           ...
24294    no power
24295    no power
24296    no power
24297    no power
24298           1
Name: power, Length: 24299, dtype: object

In [408]:
# toughness
type(final_df.toughness.iloc[30])
#ok toughness è una stringa, per i nan metto, no power!!!

str

In [409]:
final_df.loc[final_df.toughness.isna() == True, 'toughness'] = 'no toughness'

In [410]:
final_df.toughness

0                   6
1                   5
2                   5
3                   5
4                   5
             ...
24294    no toughness
24295    no toughness
24296    no toughness
24297    no toughness
24298               1
Name: toughness, Length: 24299, dtype: object

In [5]:
#riempire multiverseids con -> no image
c = final_df.multiverse_ids[10]
c

[6168]

In [7]:
type(c[0]) #ok è un intero, se gli passo una stringa dopo potrebbe dare problemi, forse si (VERO STREAMLIT FA CASINI, DEVO USARE ASTYPE)

int

In [411]:
#riempire multiverseids con -> no image
#final_df.loc[final_df.multiverse_ids.str.len() == 0, 'multiverse_ids'] = 'no image' #attenzione non potevo passare una lista, non capisco perchè funziona
#quindi passo solo una stringa

#final_df.replace([],['no image']) #da provare
final_df.multiverse_ids = final_df.multiverse_ids.apply(lambda y: ['no image'] if len(y)==0 else y) #da provare #dovrebbe funzionare
#final_df.multiverse_ids = final_df.multiverse_ids.apply(lambda y: [-1] if len(y)==0 else y) #provare, !!!!!!!!! altrimneti problemi con stremlit

In [412]:
final_df.multiverse_ids

0        [no image]
1        [no image]
2        [no image]
3        [no image]
4        [no image]
            ...
24294         [245]
24295         [239]
24296         [237]
24297         [236]
24298         [235]
Name: multiverse_ids, Length: 24299, dtype: object

In [413]:
#replace empty manacost
type(final_df.mana_cost[0])

str

In [414]:
final_df[final_df.mana_cost == ''].mana_cost

9
10
19
20
21
        ..
23865
24155
24156
24157
24158
Name: mana_cost, Length: 2415, dtype: object

In [415]:
final_df.mana_cost.replace('','no mana cost',inplace = True)

In [416]:
#replace empty colors
type(final_df.colors[0])

list

In [417]:
final_df.colors[6]

[]

In [418]:
final_df.colors[0]

['G']

In [419]:
final_df[final_df.colors.str.len() == 0].colors

5        []
6        []
7        []
8        []
9        []
         ..
24216    []
24217    []
24218    []
24219    []
24220    []
Name: colors, Length: 4734, dtype: object

In [420]:
#final_df.colors.replace([],['no color'], inplace = True)
final_df.colors = final_df.colors.apply(lambda y: ['no colors'] if len(y)==0 else y) #funziona

In [421]:
#replace empty color identiti (usaully land), i don't know why but command tower doesn't have
type(final_df.color_identity[0])

list

In [422]:
final_df[final_df.color_identity.str.len() == 0].color_identity

9        []
10       []
15       []
19       []
20       []
         ..
24216    []
24217    []
24218    []
24219    []
24220    []
Name: color_identity, Length: 2679, dtype: object

In [423]:
final_df.color_identity = final_df.color_identity.apply(lambda y: ['no color identity'] if len(y)==0 else y)

In [424]:
#replace empty games with paper
type(final_df.games[0])

list

In [425]:
final_df[final_df.games.str.len() == 0].games

5        []
6        []
9        []
262      []
464      []
663      []
664      []
1385     []
1388     []
1389     []
2732     []
2735     []
3077     []
3081     []
3083     []
3569     []
3571     []
3573     []
4547     []
4549     []
4551     []
5619     []
5622     []
6055     []
6060     []
7731     []
7734     []
8468     []
8565     []
12944    []
21250    []
22176    []
23102    []
23244    []
24206    []
Name: games, dtype: object

In [426]:
final_df.games = final_df.games.apply(lambda y: ['paper'] if len(y)==0 else y)

In [427]:
#replace the only id artist nan
type(final_df.artist_ids[0])

list

In [428]:
final_df[final_df.artist_ids.isna() == True]

,object,id,oracle_id,multiverse_ids,name,lang,released_at,uri,scryfall_uri,layout,...,rulings,subtypes,supertypes,text,type,types,uuid,edhrecRank,leadershipSkills,prices
17120,card,c1f9c8f9-dbb4-408f-835a-4b6c6abfdc74,464daad1-5877-4612-8eb5-7e581317f03d,[74360],"Look at Me, I'm R&D",en,2004-11-19,https://api.scryfall.com/cards/c1f9c8f9-dbb4-4...,https://scryfall.com/card/unh/17/look-at-me-im...,normal,...,[],[],[],"As Look at Me, I'm R&D enters the battlefield,...",Enchantment,[Enchantment],0184a86d-2713-58f3-90b6-cc05c96fd861,not ranked,unusable,"{'mtgo': {}, 'mtgoFoil': {}, 'paper': {'2019-1..."

In [429]:
final_df[final_df.artist_ids.str.len() == 0].artist_ids

Series([], Name: artist_ids, dtype: object)

In [430]:
#final_df.artist_ids = final_df.artist_ids.apply(lambda y: ['no artist_id'] if len(y)==0 else y)
final_df.artist_ids.fillna('no artist id')

0        [1eced451-4da5-42bc-b49d-70c41246581f]
1        [ce98f39c-7cdd-47e6-a520-6c50443bb4c2]
2        [74986d28-0001-4a78-827c-e490b325d0e3]
3        [465e38b8-7eed-4d22-a6d2-d3603ee0c00b]
4        [fa058291-5283-4b33-a65e-d4911cb319bb]
                          ...
24294    [14a1de4b-1237-4e7b-8868-b71e87c9a46e]
24295    [059bba56-5feb-42e4-8c2e-e2f1e6ba11f9]
24296    [596b3aac-b331-4e1e-ae41-9ec2d3b653e1]
24297    [059bba56-5feb-42e4-8c2e-e2f1e6ba11f9]
24298    [a9ddb513-51c7-455c-ab8f-5b90aae9f75b]
Name: artist_ids, Length: 24299, dtype: object

In [431]:
#replace loyalty
type(final_df.loyalty[0])

float

In [432]:
final_df[final_df.loyalty.isna() == True]

,object,id,oracle_id,multiverse_ids,name,lang,released_at,uri,scryfall_uri,layout,...,rulings,subtypes,supertypes,text,type,types,uuid,edhrecRank,leadershipSkills,prices
0,card,dbcdbf7a-9294-47ad-9f93-c16b78c7463a,cd6250ae-9079-4a62-8a70-0d94fbac21bc,[no image],Earthshaker Giant,en,2019-11-15,https://api.scryfall.com/cards/dbcdbf7a-9294-4...,https://scryfall.com/card/gn2/5/earthshaker-gi...,normal,...,[],"[Giant, Druid]",[],Trample\nWhen Earthshaker Giant enters the bat...,Creature — Giant Druid,[Creature],d77da7e3-b017-559f-8081-eb56d48da8a2,not ranked,unusable,"{'mtgo': {}, 'mtgoFoil': {}, 'paper': {}, 'pap..."
1,card,acb3ce9b-ee4f-410a-8db3-e87aeb0a4444,ab0dfae5-b9d4-417b-8a0d-2525ae3a73b9,[no image],Fiendish Duo,en,2019-11-15,https://api.scryfall.com/cards/acb3ce9b-ee4f-4...,https://scryfall.com/card/gn2/4/fiendish-duo?u...,normal,...,[],[Devil],[],First strike\nIf a source would deal damage to...,Creature — Devil,[Creature],dcb1e7e2-bd48-5d9b-a872-7386e81bbac4,not ranked,unusable,"{'mtgo': {}, 'mtgoFoil': {}, 'paper': {}, 'pap..."
2,card,17b2ed72-d0f0-4d8d-bb5e-dce08d157466,7264d3b3-fd46-4ea3-a85d-f0b068c331ad,[no image],Calculating Lich,en,2019-11-15,https://api.scryfall.com/cards/17b2ed72-d0f0-4...,https://scryfall.com/card/gn2/3/calculating-li...,normal,...,[],"[Zombie, Wizard]",[],Menace\nWhenever a creature attacks one of you...,Creature — Zombie Wizard,[Creature],aedff6d1-7901-5619-9ff6-b3dd9c43b896,not ranked,unusable,"{'mtgo': {}, 'mtgoFoil': {}, 'paper': {}, 'pap..."
3,card,0faa9eea-fbf1-41f7-9def-1ec3d5134a53,e6284fb3-7cf8-4730-b156-10085b70b0e8,[no image],Sphinx of Enlightenment,en,2019-11-15,https://api.scryfall.com/cards/0faa9eea-fbf1-4...,https://scryfall.com/card/gn2/2/sphinx-of-enli...,normal,...,[],[Sphinx],[],Flying\nWhen Sphinx of Enlightenment enters th...,Creature — Sphinx,[Creature],5c885aa6-c991-5eec-b140-d43a70428566,not ranked,unusable,"{'mtgo': {}, 'mtgoFoil': {}, 'paper': {}, 'pap..."
4,card,ecbeac44-9392-4522-8ff5-87079386bd0a,43296f8b-58d9-446e-a538-1c4921552c41,[no image],Highcliff Felidar,en,2019-11-15,https://api.scryfall.com/cards/ecbeac44-9392-4...,https://scryfall.com/card/gn2/1/highcliff-feli...,normal,...,[],"[Cat, Beast]",[],Vigilance\nWhen Highcliff Felidar enters the b...,Creature — Cat Beast,[Creature],a9bf68a1-7eb7-5387-a651-5c0ede8d86ec,not ranked,unusable,"{'mtgo': {}, 'mtgoFoil': {}, 'paper': {}, 'pap..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24294,card,d2379f78-c03f-447f-b3c9-10a918d556e9,4627691c-4ed4-4add-9cc3-2e019be2f9fd,[245],Consecrate Land,en,1993-08-05,https://api.scryfall.com/cards/d2379f78-c03f-4...,https://scryfall.com/card/lea/14/consecrate-la...,normal,...,"[{'date': '2005-04-01', 'text': 'The land can ...",[Aura],[],Enchant land\nEnchanted land has indestructibl...,Enchantment — Aura,[Enchantment],71185011-e055-5986-8825-4acac9041b4f,13595,unusable,"{'mtgo': {}, 'mtgoFoil': {}, 'paper': {'2019-1..."
24295,card,93f9f0f2-e1cc-4740-888c-1336c6de0a27,fc0bf1d0-46a2-4305-ab2e-466d79d60ab2,[239],Blue Ward,en,1993-08-05,https://api.scryfall.com/cards/93f9f0f2-e1cc-4...,https://scryfall.com/card/lea/8/blue-ward?utm_...,normal,...,[],[Aura],[],Enchant creature\nEnchanted creature has prote...,Enchantment — Aura,[Enchantment],cbde4259-23f6-5ee8-89a9-0d73647e49e0,12313,unusable,"{'mtgo': {}, 'mtgoFoil': {}, 'paper': {}, 'pap..."
24296,card,98fba951-c5bb-497c-9292-ce1b2a1e1247,b330ac89-790e-4cc9-96a5-532c48252088,[237],Blaze of Glory,en,1993-08-05,https://api.scryfall.com/cards/98fba951-c5bb-4...,https://scryfall.com/card/lea/6/blaze-of-glory...,normal,...,"[{'date': '2004-10-04', 'text': 'Does not allo...",[],[],Cast this spell only during combat before bloc...,Instant,[Instant],68549548-8ec2-5232-984f-1064ae9ff59b,16228,unusable,"{'mtgo': {}, 'mtgoFoil': {}, 'paper': {'2019-1..."
24297,card,15967a39-303f-457d-bcde-51837c8d63e1,7861ac9b-3024-4935-804c-2ca4c5a46bf4,[236],Black Ward,en,1993-08-05,https://api.scryfall.com/cards/15967a39-303f-4...,https://scryfall.com/card/lea/5/black-ward?utm...,normal,...,[],[Aura],[],Enchant creature\nEnchanted creature has prote...,Enchantment — Aura,[Enchantment],0233d7b9-6a09-533a-8a04-68032198b81b,12255,unusable,"{'mtgo': {}, 'mtgoFoil': {}, 'paper': {}, 'pap..."
24298,card,11600105-56c6-4073-a4a6-8469030b39c9,4c81cfb7-8765-4e28-ae33-4287fa9a86cc,[235],Benalish Hero,en,1993-08-05,https://api.scryfall.com/cards/11600105-56c6-4...,https://scryfall.com/card/lea/4/benalish-hero?...,normal,...,"[{'date': '2008-10-01', 'text': 'If a creature...","[Human, Soldier]",[],"Banding (Any creatures with banding, and up to...",Creature — Human Soldier,[Creature],11c64455-eeef-5884-b97f-aefed5140279,14576,unusable,"{'mtgo': {}, 'mtgoFoil': {}, 'paper': {}, 'pap..."

In [433]:

final_df.loyalty.fillna('no loyalty', inplace = True)

In [434]:
#foreignData la droppo non cosi utile #ATTENZIONE
final_df.drop('foreignData', axis=1, inplace=True)

In [435]:
#replace empty rulling
type(final_df.rulings[0])

list

In [436]:
final_df.rulings[0]

[]

In [437]:
final_df.rulings.str.len()==0

0         True
1         True
2         True
3         True
4         True
         ...
24294    False
24295     True
24296    False
24297     True
24298    False
Name: rulings, Length: 24299, dtype: bool

In [438]:
final_df.rulings = final_df.rulings.apply(lambda y: ['no additional rules'] if len(y)==0 else y)

In [439]:
#replace empty subtype
type(final_df.subtypes[0])

list

In [440]:
final_df.subtypes[0]

['Giant', 'Druid']

In [441]:
final_df.subtypes.str.len() == 0

0        False
1        False
2        False
3        False
4        False
         ...
24294    False
24295    False
24296     True
24297    False
24298    False
Name: subtypes, Length: 24299, dtype: bool

In [442]:
final_df.subtypes = final_df.subtypes.apply(lambda y: ['no subtypes'] if len(y)==0 else y)

In [443]:
#replace supertypes
type(final_df.supertypes[0])

list

In [444]:
final_df[final_df.supertypes.str.len() == 0].supertypes

0        []
1        []
2        []
3        []
4        []
         ..
24294    []
24295    []
24296    []
24297    []
24298    []
Name: supertypes, Length: 21694, dtype: object

In [445]:
final_df.supertypes = final_df.supertypes.apply(lambda y: ['no supertypes'] if len(y)==0 else y)

In [446]:
#PRICE, PENSARE SE FARLO DIVENTARE SOLO CON I COSI DI PAPER, QUINDI NON PIù DIZIONARIO

# salvo il data set pulito

In [447]:
final_clean_df = final_df

In [448]:
final_clean_df.info()
final_clean_df.isna().sum()[40:]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24299 entries, 0 to 24298
Data columns (total 63 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   object             24299 non-null  object
 1   id                 24299 non-null  object
 2   oracle_id          24299 non-null  object
 3   multiverse_ids     24299 non-null  object
 4   name               24299 non-null  object
 5   lang               24299 non-null  object
 6   released_at        24299 non-null  datetime64[ns]
 7   uri                24299 non-null  object
 8   scryfall_uri       24299 non-null  object
 9   layout             24299 non-null  object
 10  highres_image      24299 non-null  bool
 11  image_uris         24299 non-null  object
 12  mana_cost          24299 non-null  object
 13  cmc                24299 non-null  float64
 14  power              24299 non-null  object
 15  toughness          24299 non-null  object
 16  colors             24299 non-null  object
 17  color_identity     24299 non-null  object
 18  legalities         24299 non-null  object
 19  games              24299 non-null  object
 20  reserved           24299 non-null  bool
 21  foil               24299 non-null  bool
 22  nonfoil            24299 non-null  bool
 23  oversized          24299 non-null  bool
 24  promo              24299 non-null  bool
 25  reprint            24299 non-null  bool
 26  variation          24299 non-null  bool
 27  set                24299 non-null  object
 28  set_name           24299 non-null  object
 29  set_type           24299 non-null  object
 30  set_uri            24299 non-null  object
 31  set_search_uri     24299 non-null  object
 32  scryfall_set_uri   24299 non-null  object
 33  rulings_uri        24299 non-null  object
 34  prints_search_uri  24299 non-null  object
 35  collector_number   24299 non-null  object
 36  digital            24299 non-null  bool
 37  rarity             24299 non-null  object
 38  flavor_text        24299 non-null  object
 39  card_back_id       24299 non-null  object
 40  artist             24299 non-null  object
 41  artist_ids         24298 non-null  object
 42  illustration_id    24299 non-null  object
 43  border_color       24299 non-null  object
 44  frame              24299 non-null  object
 45  full_art           24299 non-null  bool
 46  textless           24299 non-null  bool
 47  booster            24299 non-null  bool
 48  story_spotlight    24299 non-null  bool
 49  related_uris       24299 non-null  object
 50  all_parts          24299 non-null  object
 51  loyalty            24299 non-null  object
 52  printings          24299 non-null  object
 53  rulings            24299 non-null  object
 54  subtypes           24299 non-null  object
 55  supertypes         24299 non-null  object
 56  text               24299 non-null  object
 57  type               24299 non-null  object
 58  types              24299 non-null  object
 59  uuid               24299 non-null  object
 60  edhrecRank         24299 non-null  object
 61  leadershipSkills   24299 non-null  object
 62  prices             24299 non-null  object
dtypes: bool(13), datetime64[ns](1), float64(1), object(48)
memory usage: 9.6+ MB

artist              0
artist_ids          1
illustration_id     0
border_color        0
frame               0
full_art            0
textless            0
booster             0
story_spotlight     0
related_uris        0
all_parts           0
loyalty             0
printings           0
rulings             0
subtypes            0
supertypes          0
text                0
type                0
types               0
uuid                0
edhrecRank          0
leadershipSkills    0
prices              0
dtype: int64

In [449]:
%store final_clean_df

Stored 'final_clean_df' (DataFrame)

In [450]:
final_clean_df.columns

Index(['object', 'id', 'oracle_id', 'multiverse_ids', 'name', 'lang',
       'released_at', 'uri', 'scryfall_uri', 'layout', 'highres_image',
       'image_uris', 'mana_cost', 'cmc', 'power', 'toughness', 'colors',
       'color_identity', 'legalities', 'games', 'reserved', 'foil', 'nonfoil',
       'oversized', 'promo', 'reprint', 'variation', 'set', 'set_name',
       'set_type', 'set_uri', 'set_search_uri', 'scryfall_set_uri',
       'rulings_uri', 'prints_search_uri', 'collector_number', 'digital',
       'rarity', 'flavor_text', 'card_back_id', 'artist', 'artist_ids',
       'illustration_id', 'border_color', 'frame', 'full_art', 'textless',
       'booster', 'story_spotlight', 'related_uris', 'all_parts', 'loyalty',
       'printings', 'rulings', 'subtypes', 'supertypes', 'text', 'type',
       'types', 'uuid', 'edhrecRank', 'leadershipSkills', 'prices'],
      dtype='object')

In [1]:
#provo a salvare il dataframe finito
#final_clean_df.to_csv('final.csv',sep='|',index=False)
final_clean_df.to_json('final_json.json',)

NameError: name 'final_clean_df' is not defined

In [453]:
type(final_clean_df.multiverse_ids[6])

list

In [454]:
final_clean_df.head(10)

,object,id,oracle_id,multiverse_ids,name,lang,released_at,uri,scryfall_uri,layout,...,rulings,subtypes,supertypes,text,type,types,uuid,edhrecRank,leadershipSkills,prices
0,card,dbcdbf7a-9294-47ad-9f93-c16b78c7463a,cd6250ae-9079-4a62-8a70-0d94fbac21bc,[no image],Earthshaker Giant,en,2019-11-15,https://api.scryfall.com/cards/dbcdbf7a-9294-4...,https://scryfall.com/card/gn2/5/earthshaker-gi...,normal,...,[no additional rules],"[Giant, Druid]",[no supertypes],Trample\nWhen Earthshaker Giant enters the bat...,Creature — Giant Druid,[Creature],d77da7e3-b017-559f-8081-eb56d48da8a2,not ranked,unusable,"{'mtgo': {}, 'mtgoFoil': {}, 'paper': {}, 'pap..."
1,card,acb3ce9b-ee4f-410a-8db3-e87aeb0a4444,ab0dfae5-b9d4-417b-8a0d-2525ae3a73b9,[no image],Fiendish Duo,en,2019-11-15,https://api.scryfall.com/cards/acb3ce9b-ee4f-4...,https://scryfall.com/card/gn2/4/fiendish-duo?u...,normal,...,[no additional rules],[Devil],[no supertypes],First strike\nIf a source would deal damage to...,Creature — Devil,[Creature],dcb1e7e2-bd48-5d9b-a872-7386e81bbac4,not ranked,unusable,"{'mtgo': {}, 'mtgoFoil': {}, 'paper': {}, 'pap..."
2,card,17b2ed72-d0f0-4d8d-bb5e-dce08d157466,7264d3b3-fd46-4ea3-a85d-f0b068c331ad,[no image],Calculating Lich,en,2019-11-15,https://api.scryfall.com/cards/17b2ed72-d0f0-4...,https://scryfall.com/card/gn2/3/calculating-li...,normal,...,[no additional rules],"[Zombie, Wizard]",[no supertypes],Menace\nWhenever a creature attacks one of you...,Creature — Zombie Wizard,[Creature],aedff6d1-7901-5619-9ff6-b3dd9c43b896,not ranked,unusable,"{'mtgo': {}, 'mtgoFoil': {}, 'paper': {}, 'pap..."
3,card,0faa9eea-fbf1-41f7-9def-1ec3d5134a53,e6284fb3-7cf8-4730-b156-10085b70b0e8,[no image],Sphinx of Enlightenment,en,2019-11-15,https://api.scryfall.com/cards/0faa9eea-fbf1-4...,https://scryfall.com/card/gn2/2/sphinx-of-enli...,normal,...,[no additional rules],[Sphinx],[no supertypes],Flying\nWhen Sphinx of Enlightenment enters th...,Creature — Sphinx,[Creature],5c885aa6-c991-5eec-b140-d43a70428566,not ranked,unusable,"{'mtgo': {}, 'mtgoFoil': {}, 'paper': {}, 'pap..."
4,card,ecbeac44-9392-4522-8ff5-87079386bd0a,43296f8b-58d9-446e-a538-1c4921552c41,[no image],Highcliff Felidar,en,2019-11-15,https://api.scryfall.com/cards/ecbeac44-9392-4...,https://scryfall.com/card/gn2/1/highcliff-feli...,normal,...,[no additional rules],"[Cat, Beast]",[no supertypes],Vigilance\nWhen Highcliff Felidar enters the b...,Creature — Cat Beast,[Creature],a9bf68a1-7eb7-5387-a651-5c0ede8d86ec,not ranked,unusable,"{'mtgo': {}, 'mtgoFoil': {}, 'paper': {}, 'pap..."
5,card,2b8285b7-bd88-4a6c-bd2e-9798a1c661f8,0677f49e-f8bf-4349-af52-2ccde9287c2e,[no image],Mox Jet,en,2019-11-03,https://api.scryfall.com/cards/2b8285b7-bd88-4...,https://scryfall.com/card/ovnt/2019NA/mox-jet?...,normal,...,[no additional rules],[no subtypes],[no supertypes],{T}: Add {B}.,Artifact,[Artifact],911999c5-131c-56f3-8180-379b3b8d43da,19159,unusable,"{'mtgo': {}, 'mtgoFoil': {}, 'paper': {'2019-1..."
6,card,1f5a1578-d5fe-4b31-bb71-3253be8775a1,0677f49e-f8bf-4349-af52-2ccde9287c2e,[no image],Mox Jet,en,2016-10-23,https://api.scryfall.com/cards/1f5a1578-d5fe-4...,https://scryfall.com/card/ovnt/2016EU/mox-jet?...,normal,...,[no additional rules],[no subtypes],[no supertypes],{T}: Add {B}.,Artifact,[Artifact],911999c5-131c-56f3-8180-379b3b8d43da,19159,unusable,"{'mtgo': {}, 'mtgoFoil': {}, 'paper': {'2019-1..."
7,card,5f6927e1-c580-483a-8e2a-6e2deb74800e,0677f49e-f8bf-4349-af52-2ccde9287c2e,[383020],Mox Jet,en,2014-06-16,https://api.scryfall.com/cards/5f6927e1-c580-4...,https://scryfall.com/card/vma/6/mox-jet?utm_so...,normal,...,[no additional rules],[no subtypes],[no supertypes],{T}: Add {B}.,Artifact,[Artifact],911999c5-131c-56f3-8180-379b3b8d43da,19159,unusable,"{'mtgo': {}, 'mtgoFoil': {}, 'paper': {'2019-1..."
8,card,92bcd1ce-19b1-4d78-8b09-95242ca08d76,0677f49e-f8bf-4349-af52-2ccde9287c2e,[33],Mox Jet,en,1993-08-05,https://api.scryfall.com/cards/92bcd1ce-19b1-4...,https://scryfall.com/card/lea/262/mox-jet?utm_...,normal,...,[no additional rules],[no subtypes],[no supertypes],{T}: Add {B}.,Artifact,[Artifact],911999c5-131c-56f3-8180-379b3b8d43da,19159,unusable,"{'mtgo': {}, 'mtgoFoil': {}, 'paper': {'2019-1..."
9,card,4c19926a-7792-4e0f-8418-a44f0cf5eeea,f161111d-9747-47b3-bb10-3c8bded32e21,[no image],City of Traitors,en,2019-11-03,https://api.scryfall.com/cards/4c19926a-7792-4...,https://scryfall.com/card/olgc/2019NA/city-of-...,normal,...,"[{'date': '2004-10-04', 'text': 'City of Trait...",[no subtypes],[no supertypes],"When you play another land, sacrifice City of ...",Land,[Land],7f852bb5-840e-56dc-a862-f09cd4d1e8b7,4535,unusable,"{'mtgo': {'2019-11-10': 28.77}, 'mtgoFoil': {'..."