In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
%store -r final_df

# Value null and column

In [3]:
final_df_bu = final_df

In [4]:
prova = final_df[final_df.name_x != final_df.name_y] #ci sono delle righe che hanno nomi diversi
#prova.loc[:'name_x':'name_y']
prova[['name_x','name_y']]  #ok il problema è con le carte con doppia faccia; LE RIMUOVO TUTTE (685)

                                name_x                          name_y
13     Nightmare Moon // Princess Luna                  Nightmare Moon
14     Nightmare Moon // Princess Luna                   Princess Luna
58        Oakhame Ranger // Bring Back                      Bring Back
59        Oakhame Ranger // Bring Back                      Bring Back
60        Oakhame Ranger // Bring Back                      Bring Back
...                                ...                             ...
20712                  Spite // Malice                          Malice
20713                  Spite // Malice                           Spite
20714                 Stand // Deliver                         Deliver
20715                 Stand // Deliver                           Stand
22238       B.F.M. (Big Furry Monster)  B.F.M. (Big Furry Monster) (b)

[685 rows x 2 columns]

droppo le righe che hanno name_x e name_y diversi

In [5]:
final_df.drop(final_df[final_df.name_x != final_df.name_y].index, inplace=True)

testo e tolgo le colonne con _y

In [6]:
final_df.columns

Index(['object', 'id', 'oracle_id', 'multiverse_ids', 'name_x', 'lang',
       'released_at', 'uri', 'scryfall_uri', 'layout_x', 'highres_image',
       'image_uris', 'mana_cost', 'cmc', 'type_line', 'oracle_text', 'power_x',
       'toughness_x', 'colors_x', 'color_identity', 'legalities_x', 'games',
       'reserved', 'foil', 'nonfoil', 'oversized', 'promo', 'reprint',
       'variation', 'set', 'set_name', 'set_type', 'set_uri', 'set_search_uri',
       'scryfall_set_uri', 'rulings_uri', 'prints_search_uri',
       'collector_number', 'digital', 'rarity', 'flavor_text', 'card_back_id',
       'artist', 'artist_ids', 'illustration_id', 'border_color', 'frame',
       'full_art', 'textless', 'booster', 'story_spotlight', 'related_uris',
       'edhrec_rank', 'card_faces', 'all_parts', 'loyalty_x', 'colorIdentity',
       'colors_y', 'convertedManaCost', 'foreignData', 'layout_y',
       'legalities_y', 'manaCost', 'name_y', 'printings', 'rulings',
       'scryfallOracleId', 'subtypes', 'supertypes', 'text', 'type', 'types',
       'uuid', 'edhrecRank', 'power_y', 'toughness_y', 'isReserved',
       'leadershipSkills', 'loyalty_y', 'prices'],
      dtype='object')

In [7]:
final_df[final_df.name_x != final_df.name_y]

Empty DataFrame
Columns: [object, id, oracle_id, multiverse_ids, name_x, lang, released_at, uri, scryfall_uri, layout_x, highres_image, image_uris, mana_cost, cmc, type_line, oracle_text, power_x, toughness_x, colors_x, color_identity, legalities_x, games, reserved, foil, nonfoil, oversized, promo, reprint, variation, set, set_name, set_type, set_uri, set_search_uri, scryfall_set_uri, rulings_uri, prints_search_uri, collector_number, digital, rarity, flavor_text, card_back_id, artist, artist_ids, illustration_id, border_color, frame, full_art, textless, booster, story_spotlight, related_uris, edhrec_rank, card_faces, all_parts, loyalty_x, colorIdentity, colors_y, convertedManaCost, foreignData, layout_y, legalities_y, manaCost, name_y, printings, rulings, scryfallOracleId, subtypes, supertypes, text, type, types, uuid, edhrecRank, power_y, toughness_y, isReserved, leadershipSkills, loyalty_y, prices]
Index: []

[0 rows x 80 columns]

In [8]:
final_df.drop('name_y',axis=1,inplace=True)

In [9]:
final_df[final_df.layout_x != final_df.layout_y]

Empty DataFrame
Columns: [object, id, oracle_id, multiverse_ids, name_x, lang, released_at, uri, scryfall_uri, layout_x, highres_image, image_uris, mana_cost, cmc, type_line, oracle_text, power_x, toughness_x, colors_x, color_identity, legalities_x, games, reserved, foil, nonfoil, oversized, promo, reprint, variation, set, set_name, set_type, set_uri, set_search_uri, scryfall_set_uri, rulings_uri, prints_search_uri, collector_number, digital, rarity, flavor_text, card_back_id, artist, artist_ids, illustration_id, border_color, frame, full_art, textless, booster, story_spotlight, related_uris, edhrec_rank, card_faces, all_parts, loyalty_x, colorIdentity, colors_y, convertedManaCost, foreignData, layout_y, legalities_y, manaCost, printings, rulings, scryfallOracleId, subtypes, supertypes, text, type, types, uuid, edhrecRank, power_y, toughness_y, isReserved, leadershipSkills, loyalty_y, prices]
Index: []

[0 rows x 79 columns]

In [10]:
final_df.drop('layout_y',axis=1,inplace=True)

In [11]:
prova = final_df[final_df.power_x != final_df.power_y] #OK SONO SOLO NAN
prova[['power_x','power_y']]

      power_x power_y
5         NaN     NaN
6         NaN     NaN
7         NaN     NaN
8         NaN     NaN
9         NaN     NaN
...       ...     ...
24978     NaN     NaN
24979     NaN     NaN
24980     NaN     NaN
24981     NaN     NaN
24982     NaN     NaN

[12577 rows x 2 columns]

In [12]:
final_df.drop('power_y',axis=1,inplace=True)

In [13]:
prova = final_df[final_df.toughness_x != final_df.toughness_y] #OK SONO SOLO NAN
prova[['toughness_x','toughness_y']]

      toughness_x toughness_y
5             NaN         NaN
6             NaN         NaN
7             NaN         NaN
8             NaN         NaN
9             NaN         NaN
...           ...         ...
24978         NaN         NaN
24979         NaN         NaN
24980         NaN         NaN
24981         NaN         NaN
24982         NaN         NaN

[12577 rows x 2 columns]

In [14]:
final_df.drop('toughness_y',axis=1,inplace=True)

In [15]:
final_df[final_df.colors_x != final_df.colors_y]

Empty DataFrame
Columns: [object, id, oracle_id, multiverse_ids, name_x, lang, released_at, uri, scryfall_uri, layout_x, highres_image, image_uris, mana_cost, cmc, type_line, oracle_text, power_x, toughness_x, colors_x, color_identity, legalities_x, games, reserved, foil, nonfoil, oversized, promo, reprint, variation, set, set_name, set_type, set_uri, set_search_uri, scryfall_set_uri, rulings_uri, prints_search_uri, collector_number, digital, rarity, flavor_text, card_back_id, artist, artist_ids, illustration_id, border_color, frame, full_art, textless, booster, story_spotlight, related_uris, edhrec_rank, card_faces, all_parts, loyalty_x, colorIdentity, colors_y, convertedManaCost, foreignData, legalities_y, manaCost, printings, rulings, scryfallOracleId, subtypes, supertypes, text, type, types, uuid, edhrecRank, isReserved, leadershipSkills, loyalty_y, prices]
Index: []

[0 rows x 76 columns]

In [16]:
final_df.drop('colors_y',axis=1,inplace=True)

In [17]:
prova = final_df[final_df.legalities_x != final_df.legalities_y] #praticamente tutti, perchè??
prova[['legalities_x','legalities_y']]
#ok, sono strutturati in maniera diversa, tengo solo legalities_x

,legalities_x,legalities_y
0,"{'standard': 'not_legal', 'future': 'not_legal...",{}
1,"{'standard': 'not_legal', 'future': 'not_legal...",{}
2,"{'standard': 'not_legal', 'future': 'not_legal...",{}
3,"{'standard': 'not_legal', 'future': 'not_legal...",{}
4,"{'standard': 'not_legal', 'future': 'not_legal...",{}
...,...,...
24979,"{'standard': 'not_legal', 'future': 'not_legal...","{'commander': 'Legal', 'duel': 'Legal', 'legac..."
24980,"{'standard': 'not_legal', 'future': 'not_legal...","{'commander': 'Legal', 'duel': 'Legal', 'legac..."
24981,"{'standard': 'not_legal', 'future': 'not_legal...","{'commander': 'Legal', 'duel': 'Legal', 'legac..."
24982,"{'standard': 'not_legal', 'future': 'not_legal...","{'commander': 'Legal', 'duel': 'Legal', 'legac..."
24983,"{'standard': 'not_legal', 'future': 'not_legal...","{'commander': 'Legal', 'duel': 'Legal', 'legac..."

In [18]:
final_df[['legalities_x','legalities_y']].iloc[30]

legalities_x    {'standard': 'legal', 'future': 'legal', 'hist...
legalities_y    {'brawl': 'Legal', 'commander': 'Legal', 'duel...
Name: 32, dtype: object

In [19]:
final_df.drop('legalities_y',axis=1,inplace=True)

In [20]:
prova = final_df[final_df.loyalty_x != final_df.loyalty_y] #sono quasi tutti diversi
prova[['loyalty_x','loyalty_y']] #ok sono tutti i Nan

      loyalty_x loyalty_y
0           NaN       NaN
1           NaN       NaN
2           NaN       NaN
3           NaN       NaN
4           NaN       NaN
...         ...       ...
24979       NaN       NaN
24980       NaN       NaN
24981       NaN       NaN
24982       NaN       NaN
24983       NaN       NaN

[23983 rows x 2 columns]

In [21]:
final_df.drop('loyalty_y',axis = 1, inplace = True)

In [22]:
final_df.isna().sum()[40:]

flavor_text              0
card_back_id             0
artist                   0
artist_ids               1
illustration_id          0
border_color             0
frame                    0
full_art                 0
textless                 0
booster                  0
story_spotlight          0
related_uris             0
edhrec_rank              0
card_faces           24299
all_parts                0
loyalty_x            23983
colorIdentity            0
convertedManaCost        0
foreignData              0
manaCost              2415
printings                0
rulings                  0
scryfallOracleId         0
subtypes                 0
supertypes               0
text                     0
type                     0
types                    0
uuid                     0
edhrecRank               0
isReserved               0
leadershipSkills         0
prices                   0
dtype: int64

# tolgo le colonne doppie es: edhrec_rank e edhrecRank

In [23]:
#mana_cost con manaCost
final_df[['mana_cost','manaCost']] #ok, sono scritti nello stesso modo (str)
#cerco se ce ne sono di diversi
final_df[final_df.mana_cost != final_df.manaCost] #è uguale al numero dei valori nulli
#testo
prova = final_df[final_df.mana_cost != final_df.manaCost]
prova[['manaCost','mana_cost']] #ok sono solo Nan

      manaCost mana_cost
9          NaN
10         NaN
21         NaN
22         NaN
23         NaN
...        ...       ...
24550      NaN
24840      NaN
24841      NaN
24842      NaN
24843      NaN

[2415 rows x 2 columns]

In [24]:
final_df.drop('manaCost',axis=1,inplace=True)

In [25]:
#cmc con convertedManaCost
final_df[final_df.cmc != final_df.convertedManaCost]

Empty DataFrame
Columns: [object, id, oracle_id, multiverse_ids, name_x, lang, released_at, uri, scryfall_uri, layout_x, highres_image, image_uris, mana_cost, cmc, type_line, oracle_text, power_x, toughness_x, colors_x, color_identity, legalities_x, games, reserved, foil, nonfoil, oversized, promo, reprint, variation, set, set_name, set_type, set_uri, set_search_uri, scryfall_set_uri, rulings_uri, prints_search_uri, collector_number, digital, rarity, flavor_text, card_back_id, artist, artist_ids, illustration_id, border_color, frame, full_art, textless, booster, story_spotlight, related_uris, edhrec_rank, card_faces, all_parts, loyalty_x, colorIdentity, convertedManaCost, foreignData, printings, rulings, scryfallOracleId, subtypes, supertypes, text, type, types, uuid, edhrecRank, isReserved, leadershipSkills, prices]
Index: []

[0 rows x 72 columns]

In [26]:
final_df.drop('convertedManaCost',axis=1,inplace=True)

In [27]:
#oracle_id con scryfallOracleId , quello utilizzato per merge scry e allcards
final_df[final_df.oracle_id != final_df.scryfallOracleId]

Empty DataFrame
Columns: [object, id, oracle_id, multiverse_ids, name_x, lang, released_at, uri, scryfall_uri, layout_x, highres_image, image_uris, mana_cost, cmc, type_line, oracle_text, power_x, toughness_x, colors_x, color_identity, legalities_x, games, reserved, foil, nonfoil, oversized, promo, reprint, variation, set, set_name, set_type, set_uri, set_search_uri, scryfall_set_uri, rulings_uri, prints_search_uri, collector_number, digital, rarity, flavor_text, card_back_id, artist, artist_ids, illustration_id, border_color, frame, full_art, textless, booster, story_spotlight, related_uris, edhrec_rank, card_faces, all_parts, loyalty_x, colorIdentity, foreignData, printings, rulings, scryfallOracleId, subtypes, supertypes, text, type, types, uuid, edhrecRank, isReserved, leadershipSkills, prices]
Index: []

[0 rows x 71 columns]

In [28]:
final_df.drop('scryfallOracleId',axis=1,inplace=True)

In [29]:
#text con oracle_text
final_df[final_df.text != final_df.oracle_text] #ok alcuni sono diversi, capiamo
prova = final_df[final_df.text != final_df.oracle_text]
prova[['text', 'oracle_text']] #ok sono 'uguali' cambia la stringa per i plainswalker (in text ce [+loyalty] e non solo +loyalty), e i valori no text con Nan
#tengo text

,text,oracle_text
49,[+1]: Put two +1/+1 counters on up to one targ...,+1: Put two +1/+1 counters on up to one target...
56,[+1]: Up to one target creature gets +3/+0 and...,+1: Up to one target creature gets +3/+0 and g...
180,"[+1]: Draw a card, then discard a card.\n[+1]:...","+1: Draw a card, then discard a card.\n+1: Tar..."
181,"[+1]: Draw a card, then discard a card.\n[+1]:...","+1: Draw a card, then discard a card.\n+1: Tar..."
182,[+2]: Create a Food token. (It's an artifact w...,+2: Create a Food token. (It's an artifact wit...
...,...,...
24771,no text,
24893,no text,
24929,no text,
24930,no text,
24953,no text,

In [30]:
final_df.drop('oracle_text',axis=1,inplace=True)

In [31]:
#type_line con type (in ogni caso tengo types che è type sotto forma fi lista)
final_df[final_df.type_line != final_df.type]

Empty DataFrame
Columns: [object, id, oracle_id, multiverse_ids, name_x, lang, released_at, uri, scryfall_uri, layout_x, highres_image, image_uris, mana_cost, cmc, type_line, power_x, toughness_x, colors_x, color_identity, legalities_x, games, reserved, foil, nonfoil, oversized, promo, reprint, variation, set, set_name, set_type, set_uri, set_search_uri, scryfall_set_uri, rulings_uri, prints_search_uri, collector_number, digital, rarity, flavor_text, card_back_id, artist, artist_ids, illustration_id, border_color, frame, full_art, textless, booster, story_spotlight, related_uris, edhrec_rank, card_faces, all_parts, loyalty_x, colorIdentity, foreignData, printings, rulings, subtypes, supertypes, text, type, types, uuid, edhrecRank, isReserved, leadershipSkills, prices]
Index: []

[0 rows x 69 columns]

In [32]:
final_df.drop('type_line',axis=1,inplace=True)

In [33]:
#edhrec_rank con edhrecRank
final_df[final_df.edhrec_rank != final_df.edhrecRank] #ok, tanti diversi, capiamo
prova = final_df[final_df.edhrec_rank != final_df.edhrecRank]
prova[['edhrec_rank','edhrecRank']] #AIUTO, NON SO QUALE SIA PIù RECENTE, DEVO CHIEDERE!!!!
#DA FINIRE

      edhrec_rank edhrecRank
5         19267.0      19159
6         19267.0      19159
7         19267.0      19159
8         19267.0      19159
9          4474.0       4535
...           ...        ...
24979     13440.0      13595
24980     12617.0      12313
24981     15645.0      16228
24982     12500.0      12255
24983     13755.0      14576

[22243 rows x 2 columns]

In [34]:
#reserved con isReserved
final_df[final_df.reserved != final_df.isReserved] #ok, sono tanti, capiamo
prova= final_df[final_df.reserved != final_df.isReserved]
prova[['reserved','isReserved']] #ok è solo scritto in maniera diversa
#tendo reserved (bool)

       reserved isReserved
0         False      false
1         False      false
2         False      false
3         False      false
4         False      false
...         ...        ...
24978     False      false
24979     False      false
24980     False      false
24982     False      false
24983     False      false

[23650 rows x 2 columns]

In [35]:
final_df.drop('isReserved',axis=1,inplace=True)

In [36]:
final_df.rulings[final_df.rulings != '']
final_df.rulings #ok

0                                                       []
1                                                       []
2                                                       []
3                                                       []
4                                                       []
                               ...
24979    [{'date': '2005-04-01', 'text': 'The land can ...
24980                                                   []
24981    [{'date': '2004-10-04', 'text': 'Does not allo...
24982                                                   []
24983    [{'date': '2008-10-01', 'text': 'If a creature...
Name: rulings, Length: 24299, dtype: object

In [37]:
#color_identity con colorIdentity
final_df[final_df.color_identity != final_df.colorIdentity]

Empty DataFrame
Columns: [object, id, oracle_id, multiverse_ids, name_x, lang, released_at, uri, scryfall_uri, layout_x, highres_image, image_uris, mana_cost, cmc, power_x, toughness_x, colors_x, color_identity, legalities_x, games, reserved, foil, nonfoil, oversized, promo, reprint, variation, set, set_name, set_type, set_uri, set_search_uri, scryfall_set_uri, rulings_uri, prints_search_uri, collector_number, digital, rarity, flavor_text, card_back_id, artist, artist_ids, illustration_id, border_color, frame, full_art, textless, booster, story_spotlight, related_uris, edhrec_rank, card_faces, all_parts, loyalty_x, colorIdentity, foreignData, printings, rulings, subtypes, supertypes, text, type, types, uuid, edhrecRank, leadershipSkills, prices]
Index: []

[0 rows x 67 columns]

In [38]:
final_df.drop('colorIdentity',axis=1,inplace=True)

In [39]:
final_df.columns

Index(['object', 'id', 'oracle_id', 'multiverse_ids', 'name_x', 'lang',
       'released_at', 'uri', 'scryfall_uri', 'layout_x', 'highres_image',
       'image_uris', 'mana_cost', 'cmc', 'power_x', 'toughness_x', 'colors_x',
       'color_identity', 'legalities_x', 'games', 'reserved', 'foil',
       'nonfoil', 'oversized', 'promo', 'reprint', 'variation', 'set',
       'set_name', 'set_type', 'set_uri', 'set_search_uri', 'scryfall_set_uri',
       'rulings_uri', 'prints_search_uri', 'collector_number', 'digital',
       'rarity', 'flavor_text', 'card_back_id', 'artist', 'artist_ids',
       'illustration_id', 'border_color', 'frame', 'full_art', 'textless',
       'booster', 'story_spotlight', 'related_uris', 'edhrec_rank',
       'card_faces', 'all_parts', 'loyalty_x', 'foreignData', 'printings',
       'rulings', 'subtypes', 'supertypes', 'text', 'type', 'types', 'uuid',
       'edhrecRank', 'leadershipSkills', 'prices'],
      dtype='object')

In [40]:
#printing e set sono simili, printing contiene dove la carta è stata anche ristampata

In [41]:
#cardfaces lo elimino
final_df.drop('card_faces',axis=1,inplace=True)

modifico le colonne, tolgo la _x

In [42]:
final_df.columns

Index(['object', 'id', 'oracle_id', 'multiverse_ids', 'name_x', 'lang',
       'released_at', 'uri', 'scryfall_uri', 'layout_x', 'highres_image',
       'image_uris', 'mana_cost', 'cmc', 'power_x', 'toughness_x', 'colors_x',
       'color_identity', 'legalities_x', 'games', 'reserved', 'foil',
       'nonfoil', 'oversized', 'promo', 'reprint', 'variation', 'set',
       'set_name', 'set_type', 'set_uri', 'set_search_uri', 'scryfall_set_uri',
       'rulings_uri', 'prints_search_uri', 'collector_number', 'digital',
       'rarity', 'flavor_text', 'card_back_id', 'artist', 'artist_ids',
       'illustration_id', 'border_color', 'frame', 'full_art', 'textless',
       'booster', 'story_spotlight', 'related_uris', 'edhrec_rank',
       'all_parts', 'loyalty_x', 'foreignData', 'printings', 'rulings',
       'subtypes', 'supertypes', 'text', 'type', 'types', 'uuid', 'edhrecRank',
       'leadershipSkills', 'prices'],
      dtype='object')

In [43]:
colonne_originali = final_df.columns
#test
colonne_nuove = list(map(lambda x : x[:len(x)-2] if x[len(x)-2:] =='_x' else x , colonne_originali))
colonne_nuove
#tes = colonne_originali[4]
#tes[len(tes)-2:]
#APPLICARE I NOMI ALLE COLONNE PERFETTO!!!!!!!!!!!!!!

['object',
 'id',
 'oracle_id',
 'multiverse_ids',
 'name',
 'lang',
 'released_at',
 'uri',
 'scryfall_uri',
 'layout',
 'highres_image',
 'image_uris',
 'mana_cost',
 'cmc',
 'power',
 'toughness',
 'colors',
 'color_identity',
 'legalities',
 'games',
 'reserved',
 'foil',
 'nonfoil',
 'oversized',
 'promo',
 'reprint',
 'variation',
 'set',
 'set_name',
 'set_type',
 'set_uri',
 'set_search_uri',
 'scryfall_set_uri',
 'rulings_uri',
 'prints_search_uri',
 'collector_number',
 'digital',
 'rarity',
 'flavor_text',
 'card_back_id',
 'artist',
 'artist_ids',
 'illustration_id',
 'border_color',
 'frame',
 'full_art',
 'textless',
 'booster',
 'story_spotlight',
 'related_uris',
 'edhrec_rank',
 'all_parts',
 'loyalty',
 'foreignData',
 'printings',
 'rulings',
 'subtypes',
 'supertypes',
 'text',
 'type',
 'types',
 'uuid',
 'edhrecRank',
 'leadershipSkills',
 'prices']

In [44]:
final_df.columns

Index(['object', 'id', 'oracle_id', 'multiverse_ids', 'name_x', 'lang',
       'released_at', 'uri', 'scryfall_uri', 'layout_x', 'highres_image',
       'image_uris', 'mana_cost', 'cmc', 'power_x', 'toughness_x', 'colors_x',
       'color_identity', 'legalities_x', 'games', 'reserved', 'foil',
       'nonfoil', 'oversized', 'promo', 'reprint', 'variation', 'set',
       'set_name', 'set_type', 'set_uri', 'set_search_uri', 'scryfall_set_uri',
       'rulings_uri', 'prints_search_uri', 'collector_number', 'digital',
       'rarity', 'flavor_text', 'card_back_id', 'artist', 'artist_ids',
       'illustration_id', 'border_color', 'frame', 'full_art', 'textless',
       'booster', 'story_spotlight', 'related_uris', 'edhrec_rank',
       'all_parts', 'loyalty_x', 'foreignData', 'printings', 'rulings',
       'subtypes', 'supertypes', 'text', 'type', 'types', 'uuid', 'edhrecRank',
       'leadershipSkills', 'prices'],
      dtype='object')

In [45]:
final_df.columns = colonne_nuove

In [46]:
#attenzione forse ce un problema con gli indici capire come si comporta con iloc
final_df.iloc[15] #OK INDEX è DIVERSO DALLA POSIZIONE EFFETTIVA, DIREI CHE LI AGGIORno
#no elimino la colonna index
#final_df.drop('index',axis=1,inplace=True) #ok non è una colonna, semplicemente gli index sono sfasati e se voglio usre iloc mi crea probelmi

object                                                           card
id                               a47357be-9e4b-4581-94f5-0574754e2977
oracle_id                        78124cd1-2658-43f3-a339-0755d84154d2
multiverse_ids                                                     []
name                                                Stonecoil Serpent
                                          ...
types                                            [Artifact, Creature]
uuid                             b2f57541-313b-511c-8403-4792e335c042
edhrecRank                                                       6925
leadershipSkills                                             unusable
prices              {'mtgo': {}, 'mtgoFoil': {}, 'paper': {}, 'pap...
Name: 17, Length: 65, dtype: object

In [47]:
#final_clean_df = final_df

In [48]:
final_df.index[:20] #salto tra 12 e 15

Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 15, 16, 17, 18, 19, 20, 21], dtype='int64')

In [49]:
#test_a = final_df[0:20]
#for indice,id in test_a.id.items():
#    print(f'indice:{indice}, id:{id}')
#    #quidi se faccio iloc[index] mi ritorna un valore diverso da quello che voglio
#    print(f'test_a.iloc[{indice}] = {test_a.id.iloc[indice]}') 

#vedere indice 15 e iloc[15]

In [50]:
#resetto gli indici
#final_clean_df.columns
final_df.reset_index(drop=True,inplace=True)

In [51]:
test_a = final_df[0:20]
for indice,id in test_a.id.items():
    print(f'indice:{indice}, id:{id}')
    #quidi se faccio iloc[index] mi ritorna un valore diverso da quello che voglio
    print(f'test_a.iloc[{indice}] = {test_a.id.iloc[indice]}')

indice:0, id:dbcdbf7a-9294-47ad-9f93-c16b78c7463a
test_a.iloc[0] = dbcdbf7a-9294-47ad-9f93-c16b78c7463a
indice:1, id:acb3ce9b-ee4f-410a-8db3-e87aeb0a4444
test_a.iloc[1] = acb3ce9b-ee4f-410a-8db3-e87aeb0a4444
indice:2, id:17b2ed72-d0f0-4d8d-bb5e-dce08d157466
test_a.iloc[2] = 17b2ed72-d0f0-4d8d-bb5e-dce08d157466
indice:3, id:0faa9eea-fbf1-41f7-9def-1ec3d5134a53
test_a.iloc[3] = 0faa9eea-fbf1-41f7-9def-1ec3d5134a53
indice:4, id:ecbeac44-9392-4522-8ff5-87079386bd0a
test_a.iloc[4] = ecbeac44-9392-4522-8ff5-87079386bd0a
indice:5, id:2b8285b7-bd88-4a6c-bd2e-9798a1c661f8
test_a.iloc[5] = 2b8285b7-bd88-4a6c-bd2e-9798a1c661f8
indice:6, id:1f5a1578-d5fe-4b31-bb71-3253be8775a1
test_a.iloc[6] = 1f5a1578-d5fe-4b31-bb71-3253be8775a1
indice:7, id:5f6927e1-c580-483a-8e2a-6e2deb74800e
test_a.iloc[7] = 5f6927e1-c580-483a-8e2a-6e2deb74800e
indice:8, id:92bcd1ce-19b1-4d78-8b09-95242ca08d76
test_a.iloc[8] = 92bcd1ce-19b1-4d78-8b09-95242ca08d76
indice:9, id:4c19926a-7792-4e0f-8418-a44f0cf5eeea
test_a.iloc[9] = 4c19926a-7792-4e0f-8418-a44f0cf5eeea
indice:10, id:a7a8b6b8-b95f-4014-b17a-a6d44d965995
test_a.iloc[10] = a7a8b6b8-b95f-4014-b17a-a6d44d965995
indice:11, id:9ad30de4-8299-4252-99f9-866719ec047d
test_a.iloc[11] = 9ad30de4-8299-4252-99f9-866719ec047d
indice:12, id:9a4e07b3-b095-4335-b636-2d1c34c7db9b
test_a.iloc[12] = 9a4e07b3-b095-4335-b636-2d1c34c7db9b
indice:13, id:1e3dee73-b220-4da9-82ef-e3f551dccb17
test_a.iloc[13] = 1e3dee73-b220-4da9-82ef-e3f551dccb17
indice:14, id:ee235810-078e-4208-91e2-b559c277eb86
test_a.iloc[14] = ee235810-078e-4208-91e2-b559c277eb86
indice:15, id:a47357be-9e4b-4581-94f5-0574754e2977
test_a.iloc[15] = a47357be-9e4b-4581-94f5-0574754e2977
indice:16, id:d2804de2-5b13-493c-87ac-e59b3bb569a4
test_a.iloc[16] = d2804de2-5b13-493c-87ac-e59b3bb569a4
indice:17, id:5e66e70e-354e-4c3c-9d5d-90f0bf1b857d
test_a.iloc[17] = 5e66e70e-354e-4c3c-9d5d-90f0bf1b857d
indice:18, id:35538cb0-813a-46a1-9c2b-0a1eda866ed0
test_a.iloc[18] = 35538cb0-813a-46a1-9c2b-0a1eda866ed0
indice:19, id:ec1f1041-f667-4b73-b1f2-e5bcae84095e
test_a.iloc[19] = ec1f1041-f667-4b73-b1f2-e5bcae84095e

In [52]:
type(final_clean_df.power.iloc[30])
#ok power è una stringa, per i nan metto, no power!!!
#FINIRE

NameError: name 'final_clean_df' is not defined

In [ ]:
#è  E NORMALE CHE ALCUNE CARTE COME LE TERRE NON ABBBIANO (CI SONO ALTRI TIPI DI CARTE)
#MANA COST OR COLOR

In [ ]:
#PER SEMPLICITà TRASFORMARE MULTIVERSE_IDS NON COM UNA LISTA MA COME STRINGA

# salvo il data set pulito

In [53]:
final_clean_df = final_df

In [54]:
final_clean_df.info()
final_clean_df.isna().sum()[40:]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24299 entries, 0 to 24298
Data columns (total 65 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   object             24299 non-null  object
 1   id                 24299 non-null  object
 2   oracle_id          24299 non-null  object
 3   multiverse_ids     24299 non-null  object
 4   name               24299 non-null  object
 5   lang               24299 non-null  object
 6   released_at        24299 non-null  datetime64[ns]
 7   uri                24299 non-null  object
 8   scryfall_uri       24299 non-null  object
 9   layout             24299 non-null  object
 10  highres_image      24299 non-null  bool
 11  image_uris         24299 non-null  object
 12  mana_cost          24299 non-null  object
 13  cmc                24299 non-null  float64
 14  power              11722 non-null  object
 15  toughness          11722 non-null  object
 16  colors             24299 non-null  object
 17  color_identity     24299 non-null  object
 18  legalities         24299 non-null  object
 19  games              24299 non-null  object
 20  reserved           24299 non-null  bool
 21  foil               24299 non-null  bool
 22  nonfoil            24299 non-null  bool
 23  oversized          24299 non-null  bool
 24  promo              24299 non-null  bool
 25  reprint            24299 non-null  bool
 26  variation          24299 non-null  bool
 27  set                24299 non-null  object
 28  set_name           24299 non-null  object
 29  set_type           24299 non-null  object
 30  set_uri            24299 non-null  object
 31  set_search_uri     24299 non-null  object
 32  scryfall_set_uri   24299 non-null  object
 33  rulings_uri        24299 non-null  object
 34  prints_search_uri  24299 non-null  object
 35  collector_number   24299 non-null  object
 36  digital            24299 non-null  bool
 37  rarity             24299 non-null  object
 38  flavor_text        24299 non-null  object
 39  card_back_id       24299 non-null  object
 40  artist             24299 non-null  object
 41  artist_ids         24298 non-null  object
 42  illustration_id    24299 non-null  object
 43  border_color       24299 non-null  object
 44  frame              24299 non-null  object
 45  full_art           24299 non-null  bool
 46  textless           24299 non-null  bool
 47  booster            24299 non-null  bool
 48  story_spotlight    24299 non-null  bool
 49  related_uris       24299 non-null  object
 50  edhrec_rank        24299 non-null  object
 51  all_parts          24299 non-null  object
 52  loyalty            316 non-null    object
 53  foreignData        24299 non-null  object
 54  printings          24299 non-null  object
 55  rulings            24299 non-null  object
 56  subtypes           24299 non-null  object
 57  supertypes         24299 non-null  object
 58  text               24299 non-null  object
 59  type               24299 non-null  object
 60  types              24299 non-null  object
 61  uuid               24299 non-null  object
 62  edhrecRank         24299 non-null  object
 63  leadershipSkills   24299 non-null  object
 64  prices             24299 non-null  object
dtypes: bool(13), datetime64[ns](1), float64(1), object(50)
memory usage: 9.9+ MB

artist                  0
artist_ids              1
illustration_id         0
border_color            0
frame                   0
full_art                0
textless                0
booster                 0
story_spotlight         0
related_uris            0
edhrec_rank             0
all_parts               0
loyalty             23983
foreignData             0
printings               0
rulings                 0
subtypes                0
supertypes              0
text                    0
type                    0
types                   0
uuid                    0
edhrecRank              0
leadershipSkills        0
prices                  0
dtype: int64

In [55]:
%store final_clean_df

Stored 'final_clean_df' (DataFrame)

In [56]:
final_clean_df.columns

Index(['object', 'id', 'oracle_id', 'multiverse_ids', 'name', 'lang',
       'released_at', 'uri', 'scryfall_uri', 'layout', 'highres_image',
       'image_uris', 'mana_cost', 'cmc', 'power', 'toughness', 'colors',
       'color_identity', 'legalities', 'games', 'reserved', 'foil', 'nonfoil',
       'oversized', 'promo', 'reprint', 'variation', 'set', 'set_name',
       'set_type', 'set_uri', 'set_search_uri', 'scryfall_set_uri',
       'rulings_uri', 'prints_search_uri', 'collector_number', 'digital',
       'rarity', 'flavor_text', 'card_back_id', 'artist', 'artist_ids',
       'illustration_id', 'border_color', 'frame', 'full_art', 'textless',
       'booster', 'story_spotlight', 'related_uris', 'edhrec_rank',
       'all_parts', 'loyalty', 'foreignData', 'printings', 'rulings',
       'subtypes', 'supertypes', 'text', 'type', 'types', 'uuid', 'edhrecRank',
       'leadershipSkills', 'prices'],
      dtype='object')

In [62]:
#provo a salvare il dataframe finito
#final_clean_df.to_csv('final.csv',sep='|',index=False)
final_clean_df.to_json('final_json.json',)